.p-custom{
    font-size: 10px;        /* Tamanho da fonte */
    font-family: Arial, sans-serif; /* Fonte do texto */
    color: #be129c;         /* Cor do texto */
    font-weight: bold;      /* Negrito */
    text-transform: uppercase; /* Letras maiúsculas */
    margin-bottom: 10px;    /* Espaçamento inferior */
    display: block;         /* Faz o label ocupar toda a largura disponível */
}